html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}

a {
    color: #CC9966;
}

    a:hover {
        color: #000000;
    }

.card-primary:not(.card-outline) > .card-header {
    background-color: #CC9966;
}

.btn-primary {
    background-color: #CC9966;
    border-color: #CC9966;
}

    .btn-primary:hover {
        background-color: #856341;
        border-color: #856341;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #856341;
        border-color: #856341;
    }

.card-primary.card-outline {
    border-top: 3px solid #CC9966;
}

.wrapper {
    background-color: #EEDFDE;
}

.content-wrapper {
    background-color: #EEDFDE;
}

.bg-primary {
    background-color: #CC9966 !important;
}

.btn-outline-primary {
    color: #CC9966;
    border-color: #CC9966;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #CC9966;
        border-color: #CC9966;
    }

    btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #856341;
        border-color: #856341;
    }

.direct-chat-text {
    margin: 5px 0 0 0;
}

.right .direct-chat-text {
    margin-left: 0;
    margin-right: 0;
}