@model AddCommentViewModel
@{
    ViewData["Title"] = "Add Comment";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add comment</h3>
    </div>

    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="Comment"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="PostId" />
                    <input type="hidden" asp-for="ReturnId" />
                </div>
            </div>
        </form>
    </div>

</div>