@model CreateOfferViewModel
@{
    ViewData["Title"] = "Create an Offer";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add an Offer</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DepartureLocation"></label>
                        <input asp-for="DepartureLocation" class="form-control" />
                        <span asp-validation-for="DepartureLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrivalLocation"></label>
                        <input asp-for="ArrivalLocation" class="form-control" />
                        <span asp-validation-for="ArrivalLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartureTime"></label>
                        <input asp-for="DepartureTime" />
                        <span asp-validation-for="DepartureTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrivalTime"></label>
                        <input asp-for="ArrivalTime" />
                        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PriceOfTicket"></label>
                        <input asp-for="PriceOfTicket" />
                        <span asp-validation-for="PriceOfTicket" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
