@{
}

<h2 class="text-center display-4">Available Flights</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a asp-action="AddAnOffer" asp-controller="Offer" class="btn btn-block btn-outline-info btn-lg">Add a Flight</a>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-6 col-12 mt-3">
        <div class="info-box bg-info">
            <span class="info-box-icon"><i class="fas fa-plane-departure"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Bookmarks</span>
                <span class="info-box-number">41,410</span>
                <span class="progress-description">
                    70% Increase in 30 Days
                </span>
            </div>

        </div>

    </div>
</div>