@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <a asp-action="Index" asp-controller="Home" asp-area="" class="text-danger">Go back to the home page...</a>
</header>
