@using FasterMate.Core.Contracts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProfileService profileService

@if (SignInManager.IsSignedIn(User))
{
    string profileId;
    Profile profile;
    string imgPath;

    var user = await UserManager.GetUserAsync(this.User);
    if (user != null)
    {
        profileId = user.ProfileId;

        profile = profileService.GetById(profileId);

        imgPath = profile.Image != null ? $"{profile.Image.Id}.{profile.Image.Extension}" : string.Empty;

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            @if (!string.IsNullOrEmpty(imgPath))
            {
                <img src="~/img/users/@imgPath" class="img-circle elevation-2" alt="User Image">
            }
            else
            {
                <img src="~/img/common/default-male.png" class="img-circle elevation-2" alt="User Image">
            }
        </div>
        <div class="info">
            <a asp-area="" asp-controller="Profile" asp-action="UserProfile" asp-route-id="@profileId" class="d-block">@User.Identity.Name</a>
        </div>
    </div>
    }
}