@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @if (!SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <i class="nav-icon fas fa-user-plus"></i>
                    <p>
                        Register
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <i class="nav-icon fas fa-sign-in-alt"></i>
                    <p>
                        Login
                    </p>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Search">
                    <i class="nav-icon fas fa-search"></i>
                    <p>
                        Search
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Post" asp-action="CreatePost">
                    <i class="nav-icon fas fa-clipboard"></i>
                    <p>
                        Create a Post
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Offer" asp-action="BookAFlight">
                    <i class="nav-icon fas fa-plane-departure"></i>
                    <p>
                        Book a Flight?
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Offer" asp-action="MyFlights">
                    <i class="nav-icon fas fa-ticket-alt"></i>
                    <p>
                        My Flights
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="..." asp-action="...">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Chat
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                        Logout
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>