@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">FasterMate is a web application for travellers. It provides features like choosing the correct destination, making bookings, and organizing the trip. Here you can see posts from other users, that have been to the place you want to go! You can take advice from them in real-live chat.</p>
</div>

