@model IEnumerable<SearchProfileViewModel>
@{
    ViewData["Title"] = "Search for profile";
}

<h2 class="text-center display-4">Search for profile</h2>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form action="simple-results.html">
            <div class="input-group">
                <input type="search" class="form-control form-control-lg" placeholder="Type the profile username, e.g. viktortsolov">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        if(Model.Count == 0)
        {
            <h3>No users</h3>
        }
        else
        {
            @foreach (var profile in Model)
            {
                <div class="card">
                    <div class="card-body">
                        Start creating your amazing application!
                    </div>
                </div>
            }
        }
    </div>
</div>